
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:"IBM Plex Mono";
    font-weight: 500;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
body::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(y10n_fpni_211014.jpg);
    background-position:center;
    background-size:cover;

}
.login_wrapper{
    width:400px;
    padding:30px;
    border:1px solid rgba(174, 161, 161, 0.46);
    border-radius: 8px;
    text-align: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
form{ 
    display: flex;
    flex-direction: column;

}
form h2{
    font-size: 2.5rem;
    color:aliceblue;
    margin-bottom: 20px;

}
.input-field{
    border-bottom: 2px solid white;
    margin: 15px 0;
    position: relative;

}
.input-field input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    font-size: 1rem;
}
.input-field label{
    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%);
    color:antiquewhite;
    font-size: 1rem;
    pointer-events:none;
    transition: 0.2s ease;

}

.input-field input:focus~label, 
.input-field input:valid~label{
    transform: translateY(-150%);
    font-size: 0.8rem;

}
.password-options{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 25px 0 45px 0;
    color: aliceblue;
}
.password-options label{
    display: flex;
    align-items: center;
}
.password-options label p{
    margin-left: 8px;


}
.login_wrapper a{
    color: whitesmoke;
    text-decoration: none;

}
.login_wrapper a:hover{
    text-decoration: underline;
    color: plum
}
button{
    background: plum;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor:pointer;
    transition: 0.2 ease-in;

}
button:hover{
    background: whitesmoke;
    color: plum;
    border-color: plum;

}
.account-options{
    text-align: center;
    margin-top: 15px;
    color: whitesmoke;
}
.desc{
    color: antiquewhite;
    text-align: start;
}
.xtr{
    color:plum;
}
